h1{
    text-align: center;
    font-size: 30px;
}
.titulo{
    font-family: 'zaph-chancery';
    color: #050101;
    border-style: double;
    border-width: 5px;
    border-color: black;
    background-image: url(../imagenes/fyv.jpg);
    position: relative;
    top: 200px;
    height: 100px;
} 
h3{
	color: #3D0D03;
	font-family: 'Aclonica', sans-serif;
	font-size: 30px;
}
.logo{
	position: absolute;
	top: 30px;
}
#blog h3, h4{
	text-align: center;
}
#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#blog article{
	margin: 80px;
}
#blog img{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: 2px solid;
}
#blog{
	background-color: #F5E5CC;
}
#blog img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
main{
	position: relative;
	top: 210px;
}
#blog1 h3, h4{
	text-align: center;
}
#blog1 .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#blog1 article{

	margin: 80px;
}
#blog1 img{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: 2px solid;
}
#blog1{
	background-color: #C6D9B5;
}
#blog1 img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
/*ESTILOS MENU*/
.menuu {
    position: fixed;
    top:0;
    z-index: 100;
    background-color: white;
    font-family: 'Aclonica', sans-serif;
    font-size: .9rem;
    width: 100%;
    margin:  auto;
    color: #7F06BD;
}
.menuu ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
    color: #7F06BD;
}
.menuu > ul li {
    display: inline-block;
    width: 15%;
    position: relative;
    background: white;
}
.menuu li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #388E3C;
}
.menuu li:hover a, .menuu li a:focus {
    background: #A5D6A7;
    color: #6D4C41;
}

.menuu li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
    color: #ABF4F6;
}
.menuu li:hover ul, .menuu li:focus ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    
}
.menuu li li {
    display: block;
    width: 100%;
}
.menuu li:hover li a, .menuu li:focus li a {
    font-family: 'Aclonica', sans-serif;
    font-size: .9rem;
    border-top: 1px solid #e5e5e5;
    background: #A5D6A7;
}
.menu{
    margin top: 0;
    color: #7F06BD;
}
/*FOOTER*/
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
	